html{
    scroll-behavior: smooth;
}

.carousel-item{
    height: 91vh;
}

.img-fluid , .card-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.navbar-brand {
    font-family: sans-serif;
}

#mid{
    text-align: center;
}

a.links:link{
    text-decoration: none;
}

.links{
    color: #ffc107;
}

.links:hover{
    color: white;
}

.footer{
    background-color: #333;
    text-align: left;
    color: white;
    list-style-type: none;
    padding: 50px;
}

.footer h3 {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}

.footer h6 {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}

.footer img{
    float: right;
}

.final{
    display: table;
}

.final2{
    display: table-cell;
    float: left;
}

.finalimg{
    display: table-cell;
}

.unip, .ref {
    color:gold;
}

.dropdown a:hover{
    background-color: rgb(039, 105, 183);
    color: white;
}

dropdown-item a:hover{
    background-color: rgb(039, 105, 183);
    color: white;
}

.navbar-nav a:hover{
    background-color: rgb(039, 105, 183);
    border-radius: 6px;
}

#navbarNavAltMarkup a:hover{
    color: white;
}

.carousel-caption{
    color: #ffc107;
    text-shadow: 3px 1px black;
    background-color: rgba(5, 13, 24, 0.8);
    border-radius: 20px;
    /*text-shadow: 3px 1px black;*/
}

.bts {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #ffc107;
    text-decoration: none;
    border: 2px solid rgb(039, 105, 183);
    border-radius: 10px;
}

.bts::after {
    content: "▲";
    font-size: 32px;
    font-weight: bold;
    color: rgb(039, 105, 183);
    transition: margin-top 250ms;
}

.bts:hover::after {
    margin-top:-8px;
    
}

a.bts:link{
    text-decoration: none;
}

.tabela_home{
    display: table;
    text-align: center;
    margin: auto;
    width: 90%;
    padding: 10px;
    text-shadow: 3px 1px white;
    background-color: #ffc107;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 38px;
    

}

.conteudo_home{
    display: table-cell;
    float: left;
    margin-right: 6%;
    margin-left: 8%;
    text-align: center;

}
