.corpo{
    max-width: 800px;
    width: 95%;
    margin: auto;
    padding: 0;
}

body{
    text-align: justify;
    margin: auto;
    padding: 0;
    line-height: 1.5;
    font-family: sans-serif;
}

h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    text-shadow: 3px 1px #ffc107;
}

h2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    text-shadow: 3px 1px #ffc107;
}