.corpo{
    max-width: 1200px;
    width: 95%;
    margin: auto;
    padding: 0;
}

body{
    text-align: justify;
    margin: auto;
    padding: 0;
    line-height: 1.5;
    font-family: sans-serif;
}

main{
    max-width: 800px;
    width: 95%;
    margin: auto;
    padding: 0;
}

h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    text-shadow: 3px 1px #ffc107;
}

h2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    text-shadow: 3px 1px #ffc107;
}

.apresentacao{
    font-size: 25px;
    text-align: left;
    text-shadow: 1px 1px black;

}

.paragrafo{
    font-size: 20px;
    text-align: justify;
}

.caption{
    color:cadetblue;
    font-size: 10px;
    text-align: left;
}

.imagem{
    border-radius: 8px;
}