.corpo{
    max-width: 1200px;
    width: 95%;
    margin: auto;
    padding: 0;
}

body{
    text-align: justify;
    margin: auto;
    padding: 0;
    line-height: 1.5;
    font-family: sans-serif;
}

h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    text-shadow: 3px 1px #ffc107;
}

.conteudo{
    display: table;
}

.texto{
    display: table-cell;
    float: left;
    width: 500px;
    margin-top: 10px;
    margin-left: 140px;
    text-align: justify;
}

.imagem{
    display: table-cell;
    float: left;
    width: 400px;
    margin-left: 60px;
    margin-top: 20px;
    
}

h2{
    text-align: center;
}

.caption {
    font-size: 10px;
    text-align: center;
    
}

.grafico {
   text-align: center;
   max-width: 1200px;
   width: auto;
}

h5 {
    text-align: center;
}

hr {
    display: block;
    border: 1px solid black;
}

ul {
    margin-left: 6px;
}

p{
    text-indent: 30px;
}